body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: violet;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 200px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: violet;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

